.pageControl {
    text-align: center;
}

pagination-controls /deep/ .ngx-pagination li.current {
    background: #A94442 !important;    //CHANGE THIS TO CHANGE COLOR OF PAGINATION BUTTON
}

.form-group2 {
    border-bottom: 2px solid black;
    
    input {
        border:0;
        width: 230px
    }
    form {
        display: inline-block !important;
    }
    
}
.search-bar {
    width: 250px;
    margin-left:auto;
    
}
.Pending {
    background-color: rgba(169, 68, 66,0.2);
    border-bottom: 2px solid #A94442 !important;
}
.PendingText {
    color: #A94442;
}

.processing {
    background-color: rgba(189, 109, 6,0.2);
    border-bottom: 2px solid rgb(189, 109, 6) !important;
}
.processingText {
    color: rgb(189, 109, 6);
}
.completed{
    background-color: rgba(66, 169, 72,0.2);
    border-bottom: 2px solid #42A948 !important;
}
.completedText {
    color: #42A948;
}

