<div class="col-12">
  <div class="form-group2 search-bar">
    <form>
      <input class="form-control" type="text" name="search" placeHolder="Search" [(ngModel)]="MyFilter">
    </form>
    <i class="fa fa-search"></i>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th (click)="sort('_id')">
          #
          <span *ngIf="key == '_id'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th (click)="sort('owner_id')">
          Owner Id
          <span *ngIf="key == 'owner_id'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th (click)="sort('productName')">
          Product Name
          <span *ngIf="key == 'productName'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th (click)="sort('productPrice')">
          Product Price
          <span *ngIf="key == 'productPrice'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th (click)="sort('username')">
          Username
          <span *ngIf="key == 'username'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th (click)="sort('user_address')">
          User Address
          <span *ngIf="key == 'user_address'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th (click)="sort('user_phoneNumber')">
          User Phone Number
          <span *ngIf="key == 'user_phoneNumber'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th (click)="sort('orderStatus')">
          Status
          <span *ngIf="key == 'orderStatus'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
      </tr>
    
    </thead>

<tbody><!--ORderSTatusCurret REmoved-->

  <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: {itemsPerPage: 4, currentPage: p }" class="{{x.orderStatus}}">
    <td>{{x._id}}</td>
    <td>{{x.owner_id}}</td>
    <td>{{x.productName}}</td>
    <td>{{x.productPrice}}</td>
    <td>{{x.username}}</td>
    <td>{{x.user_address}}</td>
    <td>{{x.user_phoneNumber}}</td>
    <td class="{{x.orderStatus+ 'Text'}} ">{{x.orderStatus}}</td>
  </tr>
</tbody>
  </table>
  <div class="spinner" [hidden]="!spinner"><img src="../../../../assets/photos/spinner.gif" /></div>
<div class="pageControl">
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
</div>