.profile-info {
    margin-right: 5px;
    img {
        max-width: 40px;
        border-radius: 50%;
        border: 2px solid white;


    }
    p {
        color: white;
        margin-bottom: 0px;
        font-size: 13px;
    }
    
}
.dropdown-menu {
    margin-top: 10px;
    .dropdown-item:active {
        color: white;
        background-color: #343A40;
    }
}

.profile-info:hover {
    cursor: pointer;
    background-color: white;
    color: #343A40;
    border-radius: 25px;
    transition-duration: 300ms;
    p {
        color: #343A40;
    }
    
}
.profile-info:active {
    background-color: #ccc;
    
}
