<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink=""><i class="fa fa-shopping-bag" aria-hidden="true"></i> Tech Shop</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">

      <div class="profile-info row" data-toggle="dropdown">
        <div class="col-3">
          <img src="../../../../assets/photos/profile-pics/awwal.jpg" alt="">
        </div>
        <div class="col-9">
          <p>Mustafa Siddiqui</p>
          <p>Store Owner</p>
        </div>
      </div>
      <div class="dropdown-menu profile-dropdown" aria-labelledby="navbarDropdown">
        <a class="dropdown-item"  (click)="goToProfile()"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"  (click)="signOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a>
      </div>
    </li>
  </ul>
    
 
</nav>