<div class="container">
  <h2 class="incorrect">{{message}}</h2>
  <form action="">
    <div class="row">
      <div class="form-group col-md-6 offset-lg-2 offset-md-1 offset-0">
        <input type="text" class="form-control" placeholder="Search" name="search" [(ngModel)]="MyFilter">
        <i class="fa fa-search"></i>
        <hr>
      </div>
      <div class="form-group col-md-2 col-12">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{category}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="search('All')">All</a>
            <a class="dropdown-item" (click)="search('Laptop')">Laptop</a>
            <a class="dropdown-item" (click)="search('Mobile')">Mobile</a>
            <a class="dropdown-item" (click)="search('Accessories')">Accessories</a>
            <a class="dropdown-item" (click)="search('Display')">Displays</a>
            <a class="dropdown-item" (click)="search('Speaker')">Speakers</a>
            <a class="dropdown-item" (click)="search('Gaming')">Gaming</a>
          </div>
        </div>
      </div>

    </div>
  </form>

  <div class="item display">
    <div class="product-view">
      <div class="top-bar">
        <h2>{{category}}</h2>
      </div>
      <hr>
      <div class="row">
        <div *ngFor="let x of data | filterCategory: categorySearch | filter:MyFilter | paginate: { itemsPerPage: 4, currentPage: p }" class="col-md-3 col-6">
          <div class=" item-card"  data-toggle="modal" data-target="#exampleModalCenter" (click)="setItemView(x.owner_id,x._id,x.brand,x.name,x.price,x.image,x.detail)">
            <div class="image-view">
              <img src="{{x.image}}" alt="">
            </div>  
            <div class="spaceBetweenPicText"></div>
            <h6>{{x.brand}} {{x.name}}</h6>
            <p class="details">{{x.detail}}</p>
            <p class="price">Rs: {{x.price}}</p>
            <a class="link-custom">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="pageControl" >
        <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
      </div>
    </div>
       
  </div>

  <!-- Product View when buy button clicked -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="single-product-view col-md-12">
                <!-- {{brand}} {{name}} {{src}} {{price}} {{detail}}-->
                  <!-- Left Column /Image -->
                  <div class="left col-md-6">
                    <img class="imgStyle" src = "{{src}}">
                  </div>
                  <!-- right Column  -->
                  <div class="right col-md-6">
                      <div class="brand1">{{brand}}</div>
                      <div class="name1">{{name}}</div>
                      <div class="price link-custom">Price:  {{price}} Rs</div>
                      <div class="descriptionHeading">Description:</div>
                      <div class="detail1">{{detail}}</div>
                      <hr class="lineBreak">
                      <div [hidden]="!orderApproval" ><a data-dismiss="modal" routerLink="/login">Login</a> or <a data-dismiss="modal" routerLink="/register">SignUp</a> to buy a product: </div>
                      <button class="btn custom-button" [hidden]="orderApproval" (click)="order()" data-dismiss="modal" >Order Now</button>
                    </div>
            
              </div> 
          </div>
      </div>
     
      
    </div>
      
  </div>
</div>