form {
    .form-control {
        background-color: transparent;
        border: none;
        display: inline-block;
        width: 90%;
        margin-right: 10px;
    }
    hr {
        border: 3px solid orangered !important;
        border-radius: 20px;
        display: block;
        margin-top: 0px;
    }
    #dropdownMenuButton {
        width: 100%;
        background-color: black;
        margin-top: 5px;
    }
    .dropdown-item {
        
    }
    .dropdown-item:hover {
        background-color: orangered;
        color: white;
    }
    .dropdown-item:focus {
        box-shadow: 0 0 45px rgba(155, 155, 155, 0.5);
    }
    .dropdown-menu.show{
        width: 100%;
    }
}

.container {
    padding-top: 20px;
}
.pageControl {
    text-align: center;
}