form {
    .form-control {
        background-color: transparent;
        border: none;
        display: inline-block;
        width: 90%;
        margin-right: 10px;
    }
    hr {
        border: 3px solid orangered !important;
        border-radius: 20px;
        display: block;
        margin-top: 0px;
    }
    #dropdownMenuButton {
        width: 100%;
        background-color: black;
        margin-top: 5px;
    }
    .dropdown-item {
        
    }
    .dropdown-item:hover {
        background-color: orangered;
        color: white;
    }
    .dropdown-item:focus {
        box-shadow: 0 0 45px rgba(155, 155, 155, 0.5);
    }
    .dropdown-menu.show{
        width: 100%;
    }
}

.container {
    padding-top: 20px;
}
.pageControl {
    text-align: center;
}

pagination-controls /deep/ .ngx-pagination li.current {
    background: orangered !important;    //CHANGE THIS TO CHANGE COLOR OF PAGINATION BUTTON
  }
  .left {
    border: 1px solid orange;
    float: left;
    padding: 30px;
  }
  .right {
    border: 1px solid orange;
    float: left;
  }
  .bottom {
      float: none;
      border: 1px solid orange;
      padding: 30px;
  }
  .single-product-view {
      border-radius: 5px;
      padding: 20px;
    //   display: inline;
    //   border: 2px solid black;
      background: white;
      box-shadow: 1px 1px 25px grey;
      margin-top: 20px;
      margin-bottom: 20px;
      align-content: left;
  }
  .imgStyle {
      width: 90%;
  }