<div class="container">
  <form action="">
    <div class="row">
      <div class="form-group col-md-6 offset-lg-2 offset-md-1 offset-0">
        <input type="text" class="form-control" placeholder="Search" name="search" [(ngModel)]="MyFilter">
        <i class="fa fa-search"></i>
        <hr>
      </div>
      <div class="form-group col-md-2 col-12">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{category}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="search('All')">All</a>
            <a class="dropdown-item" (click)="search('Laptop')">Laptop</a>
            <a class="dropdown-item" (click)="search('Mobile')">Mobile</a>
            <a class="dropdown-item" (click)="search('Accessories')">Accessories</a>
            <a class="dropdown-item" (click)="search('Display')">Displays</a>
            <a class="dropdown-item" (click)="search('Speaker')">Speakers</a>
            <a class="dropdown-item" (click)="search('Gaming')">Gaming</a>
          </div>
        </div>
      </div>

    </div>
  </form>

  <div class="item display">
    <div class="product-view">
      <div class="top-bar">
        <h2>{{category}}</h2>
      </div>
      <hr>
      <div class="row">
        <div *ngFor="let x of data | filter:categorySearch | filter:MyFilter | paginate: { itemsPerPage: 4, currentPage: p }" class="col-md-3 col-6">
          <div class=" item-card" (click)="setItemView(,x.owner,x._id,x.brand,x.name,x.price,x.image,x.detail)">
            <img src="{{x.image}}" alt="">
            <div class="spaceBetweenPicText"></div>
            <h6>{{x.brand}} {{x.name}}</h6>
            <p class="details">{{x.detail}}</p>
            <p class="price">Rs: {{x.price}}</p>
            <a class="link-custom">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="pageControl" >
        <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
      </div>
    </div>
       
  </div>
  <div class="single-product-view">
    {{brand}} {{name}} {{src}} {{price}} {{detail}}
  </div> 