<div class="custom-body">
    <ul class="nav nav-tabs custom-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="Sold-tab" data-toggle="tab" href="#Sold" role="tab" aria-controls="Sold" aria-selected="true">Sold</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="TotalUsers-tab" data-toggle="tab" href="#TotalUsers" role="tab" aria-controls="TotalUsers" aria-selected="false">Total Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="Items-tab" data-toggle="tab" href="#Items" role="tab" aria-controls="Items" aria-selected="false">Items</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="Sold" role="tabpanel" aria-labelledby="Sold-tab">
        <div class="table-responsive">
            <div id="chartContainer" class="barChartStyle"></div>
        </div>
            
      </div>
      <div class="tab-pane fade" id="TotalUsers" role="tabpanel" aria-labelledby="TotalUsers-tab">
          <div class="table-responsive">
            <div id="lineChart" style="height: 300px; width: 100%;"></div>
            </div>
            
      </div>
      <div class="tab-pane fade" id="Items" role="tabpanel" aria-labelledby="Items-tab">
        <div class="table-responsive">
            <div id="PieChart" class="pieChartStyle"></div>
        </div>
            
      </div>
    </div>
    
    
  
  
  </div>