<div class="container">
  <div class="vision">
    <h1 class="title">Tech Shop Vision</h1>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde magnam minus mollitia nobis, suscipit officia
      commodi doloribus quis vel est veritatis laborum aspernatur necessitatibus, assumenda nostrum. Id dolore
      inventore consectetur!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis corporis nihil aliquid sint minima. Rerum in vel,
      natus tenetur excepturi non corrupti odio? Eos dignissimos, cumque earum porro laboriosam ea.
    </p>
  </div>

  <div class="partner-info">
    <h1 class="title">Tech Shop OwnerShip</h1>
    <hr>
    <div class="row">

      <div class="col-lg-6 offset-lg-3">
        <div class="owner-badge">
          <div class="row">
            <div class="col-8 info">
              <h4>Mustafa Siddiqi</h4>
              <p>Store Owner</p>
            </div>
            <div class="col-4 image">
              <img src="../../../../assets/photos/profile-pics/siddiqi.jpg" alt="">

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="owner-badge">
          <div class="row">
            <div class="col-8 info">
              <h4>Hamza Iqbal</h4>
              <p>Buisness Partner</p>
            </div>
            <div class="col-4 image">
              <img src="../../../../assets/photos/profile-pics/hamza.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="owner-badge">
          <div class="row">
            <div class="col-8 info">
              <h4>Mustafa Awwal</h4>
              <p>Buisness Partner</p>
            </div>
            <div class="col-4 image">
              <img src="../../../../assets/photos/profile-pics/awwal.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>