.navBar{
    background-color: #050505;
    align-content: center;
    padding: 0px;
}
.textNav{
    color:#D3D3D3;
    font-size: 13px;
    transition: 300ms;

}

.left{
    float: left;
}
.textNav:hover{
    color:orangered;
}
#logoBrand{
    width: 170px;
    padding-left:40px;
    padding-top:10px;
    padding-bottom:10px; 
    margin: 0px;
}





.paddingNav{
    padding-right: 30px;
}

.textNavSignup{
    color:orangered;
    font-size: 12px;
    transition: 100ms;

    }

.backSignUp{
    background: transparent;
    border: solid orangered 1px;
    margin-left: 20px;
    height: auto;
    width: 120px;
    border-radius:19px;
    align-self: center;
    text-align: center; 
    transition: 300ms;
 
    
}
.backSignUp:Hover{
    background: orangered;
    width: 110px;
    .textNavSignup{
        color:white;

    }
}




.underline {
    display: inline;
    position: relative;
    padding-left:5px;
    padding-right: 5px; 
    overflow: hidden;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -8px;
    background: orangered;
    height: 1px;
    transition-property: left right;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    right: 0;
  }

