.custom-tabs {
    #pending-tab.active {
        border-bottom: 2px solid #A94442 !important;
    }
    #processing-tab.active {
        border-bottom: 2px solid rgb(189, 109, 6) !important;
    }
    #completed-tab.active {

        border-bottom: 2px solid #42A948 !important;
    }
}
.pageControl {
    text-align: center;
}

pagination-controls /deep/ .ngx-pagination li.current {
    background: #A94442 !important;    //CHANGE THIS TO CHANGE COLOR OF PAGINATION BUTTON
  }
