<div class="custom-body">
  <ul class="nav nav-tabs custom-tabs" id="myTab" role="tablist">
    <li class="nav-item" (click)="changeStatus('pending')">
      <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
    </li>
    <li class="nav-item" (click)="changeStatus('processing')">
      <a class="nav-link" id="processing-tab" data-toggle="tab" href="#processing" role="tab" aria-controls="processing" aria-selected="false">Processing</a>
    </li>
    <li class="nav-item" (click)="changeStatus('completed')">
      <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Delivered</a>
    </li>
    <li class="ml-auto nav-item">
      <div class="form-group">
          <form>
            <input class="form-control" name= "search" type="text" placeHolder="Search" [(ngModel)]="MyFilter">
          </form>
          <i class="fa fa-search"></i>
      </div>
      
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                      <th (click)="sort('_id')">
                        #
                        <span *ngIf="key == '_id'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('owner_id')">
                        Owner Id
                        <span *ngIf="key == 'owner_id'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('productName')">
                        Product Name
                        <span *ngIf="key == 'productName'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('productPrice')">
                        Product Price
                        <span *ngIf="key == 'productPrice'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('username')">
                        Username
                        <span *ngIf="key == 'username'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('user_address')">
                        User Address
                        <span *ngIf="key == 'user_address'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('user_phoneNumber')">
                        User Phone Number
                        <span *ngIf="key == 'user_phoneNumber'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th>Delete</th>
                      <th></th>
                    </tr>
                  
                  </thead>
              <tbody>
                <tr *ngFor="let x of data | filterOrder: OrderStatusCurrent | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'pending', itemsPerPage: 4, currentPage: pPending }">
                  <td>{{x._id}}</td>
                  <td>{{x.owner_id}}</td>
                  <td>{{x.productName}}</td>
                  <td>{{x.productPrice}}</td>
                  <td>{{x.username}}</td>
                  <td>{{x.user_address}}</td>
                  <td>{{x.user_phoneNumber}}</td>
                  <td class="link-custom " (click) = "DeleteOrder(x._id,x.productId)">Delete</td>
                  <td></td>
                  <td class="link-custom " (click) = "updateStatus(x._id,'processing')">Processing start</td>
                </tr>
              </tbody>
          
            </table>
            <div class="pageControl">
                <pagination-controls id="pending" (pageChange)="pPending = $event" autoHide="true" responsive="true"></pagination-controls>
              </div>
          </div>
          
    </div>
    <div class="tab-pane fade" id="processing" role="tabpanel" aria-labelledby="processing-tab">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th (click)="sort('_id')">
                    #
                    <span *ngIf="key == '_id'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('owner_id')">
                    Owner Id
                    <span *ngIf="key == 'owner_id'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productName')">
                    Product Name
                    <span *ngIf="key == 'productName'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productPrice')">
                    Product Price
                    <span *ngIf="key == 'productPrice'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('username')">
                    Username
                    <span *ngIf="key == 'username'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('user_address')">
                    User Address
                    <span *ngIf="key == 'user_address'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('user_phoneNumber')">
                    User Phone Number
                    <span *ngIf="key == 'user_phoneNumber'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th>Delete</th>
                  <th></th>
                </tr>
              
              </thead>
          <tbody>
            <tr *ngFor="let x of data | filterOrder: OrderStatusCurrent | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'pending', itemsPerPage: 4, currentPage: pPending }">
              <td class="link-custom " (click) = "updateStatus(x._id,'Pending')">Cancel Processing</td>
              <td>{{x._id}}</td>
              <td>{{x.owner_id}}</td>
              <td>{{x.productName}}</td>
              <td>{{x.productPrice}}</td>
              <td>{{x.username}}</td>
              <td>{{x.user_address}}</td>
              <td>{{x.user_phoneNumber}}</td>
              <td class="link-custom " (click) = "DeleteOrder(x._id,x.productId)">Delete</td>
              <td></td>
              <td class="link-custom " (click) = "updateStatus(x._id,'completed')">Compelted</td>
            </tr>
          </tbody>
            </table>
            <div class="pageControl">
                <pagination-controls id="processing" (pageChange)="pProcessing = $event" autoHide="true" responsive="true"></pagination-controls>
              </div>
          </div>
          
    </div>
    <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th (click)="sort('_id')">
                    #
                    <span *ngIf="key == '_id'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('owner_id')">
                    Owner Id
                    <span *ngIf="key == 'owner_id'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productName')">
                    Product Name
                    <span *ngIf="key == 'productName'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productPrice')">
                    Product Price
                    <span *ngIf="key == 'productPrice'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('username')">
                    Username
                    <span *ngIf="key == 'username'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('user_address')">
                    User Address
                    <span *ngIf="key == 'user_address'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('user_phoneNumber')">
                    User Phone Number
                    <span *ngIf="key == 'user_phoneNumber'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                </tr>
              
              </thead>
          <tbody>
            <tr *ngFor="let x of data | filterOrder: OrderStatusCurrent | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'pending', itemsPerPage: 4, currentPage: pPending }">
              <td>{{x._id}}</td>
              <td>{{x.owner_id}}</td>
              <td>{{x.productName}}</td>
              <td>{{x.productPrice}}</td>
              <td>{{x.username}}</td>
              <td>{{x.user_address}}</td>
              <td>{{x.user_phoneNumber}}</td>
            </tr>
          </tbody>
            </table>
            <div class="pageControl"> 
                <pagination-controls id="completed" (pageChange)="pCompleted = $event" autoHide="true" responsive="true"></pagination-controls>
              </div>
          </div> 
    </div>
    <div class="spinner" [hidden]="!spinner"><img src="../../../../assets/photos/spinner.gif" /></div>

  </div>
</div>