<div class="custom-body">
  <ul class="nav nav-tabs custom-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="processing-tab" data-toggle="tab" href="#processing" role="tab" aria-controls="processing" aria-selected="false">Processing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Delivered</a>
    </li>
    <li class="ml-auto nav-item">
      <div class="form-group">
          <form>
            <input class="form-control" name= "search" type="text" placeHolder="Search" [(ngModel)]="MyFilter">
          </form>
          <i class="fa fa-search"></i>
      </div>
      
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                      <th (click)="sort('id')">
                        #
                        <span *ngIf="key == 'id'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('orderNo')">
                        Order No.
                        <span *ngIf="key == 'orderNo'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('productName')">
                        Product
                        <span *ngIf="key == 'productName'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('amount')">
                        Amount
                        <span *ngIf="key == 'amount'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('address')">
                        Address
                        <span *ngIf="key == 'address'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('totalPrice')">
                        Total
                        <span *ngIf="key == 'totalPrice'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                    </tr>
                  
                  </thead>
              <tbody>
                <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'pending', itemsPerPage: 4, currentPage: pPending }">
                  <td>{{x.id}}</td>
                  <td>{{x.orderNo}}</td>
                  <td>{{x.productName}}</td>
                  <td>{{x.amount}}</td>
                  <td>{{x.address}}</td>
                  <td>{{x.totalPrice}}</td>
                </tr>
              </tbody>
          
            </table>
            <div class="pageControl">
                <pagination-controls id="pending" (pageChange)="pPending = $event" autoHide="true" responsive="true"></pagination-controls>
              </div>
          </div>
          
    </div>
    <div class="tab-pane fade" id="processing" role="tabpanel" aria-labelledby="processing-tab">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th (click)="sort('id')">
                    #
                    <span *ngIf="key == 'id'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('orderNo')">
                    Order No.
                    <span *ngIf="key == 'orderNo'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productName')">
                    Product
                    <span *ngIf="key == 'productName'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('amount')">
                    Amount
                    <span *ngIf="key == 'amount'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('address')">
                    Address
                    <span *ngIf="key == 'address'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('totalPrice')">
                    Total
                    <span *ngIf="key == 'totalPrice'">
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                </tr>
              
              </thead>
              <tbody>
                <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'processing', itemsPerPage: 4, currentPage: pProcessing }">
                  <td>{{x.id}}</td>
                  <td>{{x.orderNo}}</td>
                  <td>{{x.productName}}</td>
                  <td>{{x.amount}}</td>
                  <td>{{x.address}}</td>
                  <td>{{x.totalPrice}}</td>
                </tr>
              </tbody>
            </table>
            <div class="pageControl">
                <pagination-controls id="processing" (pageChange)="pProcessing = $event" autoHide="true" responsive="true"></pagination-controls>
              </div>
          </div>
          
    </div>
    <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                      <th (click)="sort('id')">
                        #
                        <span *ngIf="key == 'id'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('orderNo')">
                        Order No.
                        <span *ngIf="key == 'orderNo'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('productName')">
                        Product
                        <span *ngIf="key == 'productName'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('amount')">
                        Amount
                        <span *ngIf="key == 'amount'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('address')">
                        Address
                        <span *ngIf="key == 'address'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                      <th (click)="sort('totalPrice')">
                        Total
                        <span *ngIf="key == 'totalPrice'">
                          <span [hidden]="reverse">▼</span>
                          <span [hidden]="!reverse">▲</span>
                        </span>
                      </th>
                    </tr>
                  
                  </thead>
              <tbody>
                <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'completed', itemsPerPage: 4, currentPage: pCompleted }">
                  <td>{{x.id}}</td>
                  <td>{{x.orderNo}}</td>
                  <td>{{x.productName}}</td>
                  <td>{{x.amount}}</td>
                  <td>{{x.address}}</td>
                  <td>{{x.totalPrice}}</td>
                </tr>
              </tbody>
            </table>
            <div class="pageControl">
                <pagination-controls id="completed" (pageChange)="pCompleted = $event" autoHide="true" responsive="true"></pagination-controls>
              </div>
          </div> 
    </div>
  </div>
</div>