 <div id="new-products" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/photos/slider-images/slide1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/photos/slider-images/slide2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/photos/slider-images/slide3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#new-products" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#new-products" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container">
  <div class="categories">
    <h1 class="title">Categories</h1>
    <hr>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-12">
              <div class="category-card" id="category01">
                <div class="catBack cat01BackColor">
                    <div><i class="fa fa-laptop" aria-hidden="true"></i></div>
                    <div>LAPTOP</div>
                </div>
              </div>
            </div>

              <div class="col-lg-2 col-md-4 col-sm-12">
                <div class="category-card" id="category02">
                    <div class="catBack cat02BackColor">
                            <div><i class="fa fa-laptop" aria-hidden="true"></i></div>
                            <div>MOBILE</div>
                    </div>
                </div>
              </div>

            <div class="col-lg-2 col-md-4 col-sm-12">
              <div class="category-card" id="category03">
                <div class="catBack cat03BackColor">
                        <div><i class="fa fa-laptop" aria-hidden="true"></i></div>
                        <div>ACCESSORIES</div>
                </div>
              </div>
            </div>

                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="category-card" id="category04">
                        <div class="catBack cat04BackColor">
                                <div><i class="fa fa-laptop" aria-hidden="true"></i></div>
                                <div>GAMING</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="category-card" id="category05">
                        <div class="catBack cat05BackColor">
                                <div><i class="fa fa-laptop" aria-hidden="true"></i></div>
                                <div>DISPLAY</div>

                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="category-card" id="category06">
                        <div class="catBack cat06BackColor">
                                <div><i class="fa fa-laptop" aria-hidden="true"></i></div>
                                <div>DISPLAY</div>
                        </div> 
                    </div> 
                </div>

        </div>

      <!-- <div class="row">
          <div class="col-3">
            <a class="cat laptop">
                <p><i class="fa fa-laptop" aria-hidden="true"></i> laptop</p>
            </a>
            
          </div>
          <div class="col-3">
            <a class="cat mobile">
                <p><i class="fa fa-mobile" aria-hidden="true"></i> mobile</p>
            </a>  
            
          </div>
          
      </div>

      <div class="row">
          
          <div class="offset-md-1 col-md-5 col-6">
            <a class="cat accessories">
              <p><i class="fa fa-headphones" aria-hidden="true"></i> accessories</p>
            </a>  
          </div>
          <div class="col-md-5 col-6">
            <a class="cat gaming">
                <p><i class="fa fa-gamepad" aria-hidden="true"></i> gaming</p>
            </a>  
          </div>
      </div>  

      
      <div class="row">
          <div class="col-7">
            <a class="cat lcd">
                <p><i class="fa fa-television" aria-hidden="true"></i> display</p>
            </a>  
            
          </div>
          <div class="col-5">
              <a class="cat speakers">
                <p><i class="fa fa-volume-up" aria-hidden="true"></i> Speakers</p>
              </a>
          </div>
      </div>  -->
  
  </div>


  
  <div class="popular">
      <h1 class="title">Top Selling</h1>
    <hr id = "orangeLine">
  <ul class="top-tabs justify-content-center nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " id="pills-laptop-tab" data-toggle="pill" href="#pills-laptop" role="tab" aria-controls="pills-laptop" aria-selected="false">Laptop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-mobile-tab" data-toggle="pill" href="#pills-mobile" role="tab" aria-controls="pills-mobile" aria-selected="false">Mobiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-accessories-tab" data-toggle="pill" href="#pills-accessories" role="tab" aria-controls="pills-accessories" aria-selected="false">Accessories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-gaming-tab" data-toggle="pill" href="#pills-gaming" role="tab" aria-controls="pills-gaming" aria-selected="false">Gaming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-displays-tab" data-toggle="pill" href="#pills-displays" role="tab" aria-controls="pills-displays" aria-selected="false">Displays</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-speakers-tab" data-toggle="pill" href="#pills-speakers" role="tab" aria-controls="pills-speakers" aria-selected="false">Speakers</a>
      </li>
      
    </ul>
  </div>
  
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
            <div class="product-view">
                <div class="top-bar">
                  <h2>Top 4</h2>
                  <a class="link-custom ml-auto">View All</a>
                </div>
                <hr>
                
                <div class="row">
                    
                  <div class="col-md-3 col-6">
                    <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                        <div class="spaceBetweenPicText"></div>
                        <h6 >HTC one</h6>
                        <p class="details">FHD 6" Display</p>
                        <p class="price">Rs.5000</p>
                        <a class="link-custom">Buy Now</a> 
                    </div>
                  </div>

                  
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  
                </div>
                
              
              </div>
        </div>
      <div class="tab-pane fade" id="pills-laptop" role="tabpanel" aria-labelledby="pills-laptop-tab">
          <div class="product-view">
              <div class="top-bar">
                <h2>Top 4 Laptops</h2>
                <a class="link-custom ml-auto">View All</a>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-3 col-6">
                    <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                        <hr>
                        <h6 >HTC one</h6>
                        <p class="details">FHD 6" Display</p>
                        <p class="price">Rs.5000</p>
                        <a class="link-custom">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  
                </div>
                                       
            
            </div>
      </div>
      <div class="tab-pane fade" id="pills-mobile" role="tabpanel" aria-labelledby="pills-mobile-tab">
          <div class="product-view">
              <div class="top-bar">
                <h2>Top 4 Mobiles</h2>
                <a class="link-custom ml-auto">View All</a>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-3 col-6">
                    <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                        <hr>
                        <h6>HTC one</h6>
                        <p class="details">FHD 6" Display</p>
                        <p class="price">Rs.5000</p>
                        <a class="link-custom">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6>HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  
                </div>
                        
              
            
            </div>
      </div>
      <div class="tab-pane fade" id="pills-accessories" role="tabpanel" aria-labelledby="pills-accessories-tab">
          <div class="product-view">
              <div class="top-bar">
                <h2>Top 4 Accessories</h2>
                <a class="link-custom ml-auto">View All</a>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-3 col-6">
                    <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                        <hr>
                        <h6 >HTC one</h6>
                        <p class="details">FHD 6" Display</p>
                        <p class="price">Rs.5000</p>
                        <a class="link-custom">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  
                </div>
                         
              
            
            </div> 
      </div>
      <div class="tab-pane fade" id="pills-gaming" role="tabpanel" aria-labelledby="pills-gaming-tab">
          <div class="product-view">
              <div class="top-bar">
                <h2>Top 4 Gaming</h2>
                <a class="link-custom ml-auto">View All</a>
              </div>
              <hr>
              <div class="row">
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                        <hr>
                        <h6 >HTC one</h6>
                        <p class="details">FHD 6" Display</p>
                        <p class="price">Rs.5000</p>
                        <a class="link-custom">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                      <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  
                </div>
                
              
            
            </div> 
      </div>
      <div class="tab-pane fade" id="pills-displays" role="tabpanel" aria-labelledby="pills-displays-tab">
          <div class="product-view">
              <div class="top-bar">
                <h2>Top 4 Displays</h2>
                <a class="link-custom ml-auto">View All</a>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-3 col-6">
                    <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                        <hr>
                        <h6 >HTC one</h6>
                        <p class="details">FHD 6" Display</p>
                        <p class="price">Rs.5000</p>
                        <a class="link-custom">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  
                </div>
                            
              
            
            </div> 
      </div>
      <div class="tab-pane fade" id="pills-speakers" role="tabpanel" aria-labelledby="pills-speakers-tab">
          <div class="product-view">
              <div class="top-bar">
                <h2>Top 4 Speakers</h2>
                <a class="link-custom ml-auto">View All</a>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-3 col-6">
                    <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                        <hr>
                        <h6 >HTC one</h6>
                        <p class="details">FHD 6" Display</p>
                        <p class="price">Rs.5000</p>
                        <a class="link-custom">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                        <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  <div class="col-md-3 col-6">
                      <div class=" item-card">
                          <img src="https://cdn2.gsmarena.com/vv/bigpic/htc-desire-650.jpg" alt="">
                          <hr>
                          <h6 >HTC one</h6>
                          <p class="details">FHD 6" Display</p>
                          <p class="price">Rs.5000</p>
                          <a class="link-custom">Buy Now</a> 
                      </div>
                  </div>
                  
                </div>
                          
              
            
            </div> 
      </div>
      <div class="row special-button">
        <div class="col-3 special-button-parts">
            <div class="part right">

            </div>
        </div>
        <div class="col-6 special-button-parts">
            <div class="part-special">
                <p>View Store</p>
            </div>
        </div>
        <div class="col-3 special-button-parts ">
            <div class="part">

            </div>
        </div>
        </div> 

    </div>
  
  
 
  
   
      
</div>

<div style="height:100px;">

</div>