<div class="footer">
    <div class="container">
        <div class="row top-row">
            <div class="col-md-6 heading">
                <h1><a class="navbar-brand" routerLink=""><img src="assets/photos/logo_new.png" id="logoBrandFooter"></a></h1>
                <!-- <p class="linksBar"><i class="fab fa-facebook"></i> <i class="fab fa-twitter"></i> <i class="fab fa-youtube"></i><i class="fa fa-google-plus"> </i><i class="fa fa-linkedin"></i></p> -->
                <a class="fb-ic">
                    <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x" > </i>
                  </a>
                <a class="tw-ic">
                    <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                <a class="gplus-ic">
                    <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                <a class="li-ic">
                    <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  
            </div>
            <div class="col-md-6 addressInfo">
                <p>Address:     
                Iqbal Square Nust</p>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Email:
                        help@hamzi.com</p>
                    </div>

                    <div class="col-sm-6"> 
                        <p>Helpline:
                        03335456727</p>
                    </div>

                </div>
            </div> 
        </div>
        <hr id = "orangeLine">
        <div class="row bottom-row">
            <div class="col-md-3 col-6">
                <h5>Pages</h5>
                       <!--LINKS-->
                

            </div>
            <div class="col-md-2 col-6">
                <p><a href="#">Home</a></p>   
            </div>
            <div class=" col-md-2 col-6">
                <p><a href="aboutUs">About Us</a></p>
            </div>
            <div class="col-md-2  col-6">
                <p><a href="store">Store</a></p>
            </div>
            <div class="col-md-2 col-6">
                <p><a href="">Contact Us</a></p>    
            </div>
        </div>

    </div>
</div>    

           