<div class="footer">
    <div class="container">
        <div class="row top-row">
            <div class="col-md-6 heading">
                <h1>Tech Shop</h1>
                <p class="linksBar"><i class="fab fa-facebook"></i> <i class="fab fa-twitter"></i> <i class="fab fa-youtube"></i></p>
            </div>
            <div class="col-md-6 addressInfo">
                <p>Address</p>
                <p>Iqbal Square Nust</p>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Mail</p>
                        <p>help@hamzi.com</p>
                    </div>
                    <div class="col-sm-6"> 
                        <p>Helpline</p>
                        <p>03335456727</p>
                    </div>

                </div>
            </div> 
        </div>
        <div class="row bottom-row">
            <div class="col-md-3 col-6">
                <h5>Pages</h5>
                <p>Home</p>
                <p>About</p>
                <p>Team</p>
                <p>Contact</p>

            </div>
            <div class="col-md-3 col-6">
                <h5>Link</h5>
                <p>Paris</p>
                <p>New York</p>
                <p>London</p>
                <p>Peru</p>
                <p>Bulgorioa</p>

            </div>
            <div class="offset-md-1 col-md-2 col-6">
                <h5>Resources</h5>
                <p>API</p>
                <p>Mobile SDK</p>
                <p>Blog</p>
                <p>Videos</p>
            </div>
            <div class="col-md-2  offset-md-1 col-6">
                <h5>Company</h5>
                <p>About us</p>
                <p>Jobs</p>
                <p>Press & Media</p>
                <p>Sitemap</p>
            </div>
                
        </div>
    </div>
</div>    

           