<div class="footer">
    <div class="container">
        <div class="row top-row">
            <div class="col-md-6 heading">
                <h1><a class="navbar-brand" routerLink=""><img src="assets/photos/logo_new.png" id="logoBrandFooter"></a></h1>
                <!-- <p class="linksBar"><i class="fab fa-facebook"></i> <i class="fab fa-twitter"></i> <i class="fab fa-youtube"></i><i class="fa fa-google-plus"> </i><i class="fa fa-linkedin"></i></p> -->
                <a class="fb-ic">
                    <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x" > </i>
                  </a>
                <a class="tw-ic">
                    <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                <a class="gplus-ic">
                    <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                <a class="li-ic">
                    <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  
            </div>
            <div class="col-md-6 addressInfo">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Mail</p>
                        <p>techShop@gmail.com</p>
                    </div>

                    <div class="col-sm-6"> 
                        <p>Contact #</p>
                        <p>03104560549</p>
                    </div>

                </div>
            </div> 
        </div>
        <!-- <div class="row bottom-row">
            <div class="col-md-3 col-6">
                <h5>Pages</h5>
                <p>Home</p>
                <p>About</p>
                <p>Team</p>
                <p>Contact</p>

            </div>
            <div class="col-md-3 col-6">
                <h5>Link</h5>
                <p>Paris</p>
                <p>New York</p>
                <p>London</p>
                <p>Peru</p>
                <p>Bulgorioa</p>

            </div>
            <div class="offset-md-1 col-md-2 col-6">
                <h5>Resources</h5>
                <p>API</p>
                <p>Mobile SDK</p>
                <p>Blog</p>
                <p>Videos</p>
            </div>
            <div class="col-md-2  offset-md-1 col-6">
                <h5>Company</h5>
                <p>About us</p>
                <p>Jobs</p>
                <p>Press & Media</p>
                <p>Sitemap</p>
            </div>
                
        </div> -->
        


        






    </div>
</div>    

           