  <div class="custom-body settings">
      <div class="spinner" [hidden]="!spinner"><img src="../../../../assets/photos/spinner.gif" /></div>

    <div class="row" [hidden]="spinner">
      <div class="col-8 account-info">
        <div class="row">
          <div class="col-7 heading">
            <h2><i class="fa fa-cogs" aria-hidden="true"></i> Settings</h2>
          </div>
          <div class="col-5 edit">
            <button class="btn link-custom" (click)="editEnable(fName.value,lName.value,phNo.value,add.value)" [hidden]="!editDisabled">Edit</button>
          </div>
        </div>
        <hr>
        <form action="" class="form" [formGroup]="EditingUserInfo">
          <div class="row">
            <div class="col-6">
              <h5>Name: </h5>
              <!--here p tags-->
              <div class="col-6 inlineElement">
                <input class="form-control" #fName type="text" [readonly]="editDisabled" formControlName="firstNameV"
                [(ngModel)]="firstName">
              </div>
              <div class="col-6 inlineElement"><input class="form-control" #lName type="text" [(ngModel)]="lastName"
                  [readonly]="editDisabled" formControlName="lastNameV"></div>
              <div class="incorrect" *ngIf="EditingUserInfo.controls['firstNameV'].invalid && (EditingUserInfo.controls['firstNameV'].dirty)">
                <div *ngIf="EditingUserInfo.controls['firstNameV'].errors.required">
                  First Name is required.
                </div>
                <div *ngIf="EditingUserInfo.controls['firstNameV'].errors.maxlength">
                  First name should be shorter than 30 character.
                </div>
              </div>
              <div class="incorrect" *ngIf="EditingUserInfo.controls['lastNameV'].invalid && (EditingUserInfo.controls['lastNameV'].dirty)">
                <div *ngIf="EditingUserInfo.controls['lastNameV'].errors.required">
                  Last Name is required.
                </div>
                <div *ngIf="EditingUserInfo.controls['lastNameV'].errors.maxlength">
                  Last name should be shorter than 30 character.
                </div>
              </div>
              <p></p>
              <!--this p tag is giving error being placed before div -->
              <h5>Designation: </h5>
              <p><input class="form-control" #stat type="text" [readonly]="true" [(ngModel)]="status" formControlName="statusV"></p>
            </div>
            <div class="col-6">
              <h5>Phone Number: </h5>
              <p>
                <input class="form-control" #phNo type="text" [readonly]="editDisabled" [(ngModel)]="number"
                  formControlName="phoneNumberV" min=0>
                <div class="incorrect" *ngIf="EditingUserInfo.controls['phoneNumberV'].invalid && (EditingUserInfo.controls['phoneNumberV'].dirty)">
                  <div *ngIf="EditingUserInfo.controls['phoneNumberV'].errors.required">
                    Phone Number is required.
                  </div>
                  <div *ngIf="EditingUserInfo.controls['phoneNumberV'].errors.pattern">
                    Only 11 Digits from 0 to 9 Allowed.
                  </div>
                </div>
                <!--P tag missing dont know why-->
                <h5>Address: </h5>
                <p>
                  <input class="form-control" #add type="text" [readonly]="editDisabled" [(ngModel)]="address"
                    formControlName="addressV">
                  <div class="incorrect" *ngIf="EditingUserInfo.controls['addressV'].invalid && (EditingUserInfo.controls['addressV'].dirty)">
                    <div *ngIf="EditingUserInfo.controls['addressV'].errors.required">
                      Address is required.
                    </div>
                    <div *ngIf="EditingUserInfo.controls['addressV'].errors.maxlength">
                      Address cannot be longer than 250.
                    </div>
                  </div>
                  <!--P tag missing dont know why-->
            </div>
          </div>
        </form>
      </div>
      <div class="col-4 account-img">
        <img class="img-thumbnail" src="../../../../assets/photos/profile-pics/awwal.jpg" alt="">
  
      </div>
    </div>
    <div class="col-7 editOuterButton">
      <button class="btn link-custom" (click)="editDisable()" [hidden]="editDisabled">Back</button>
    </div>
    <div class="col-1 editOuterButton">
      <button class="btn link-custom" (click)="save(fName.value,lName.value,phNo.value,add.value)" [disabled]="(EditingUserInfo.controls['phoneNumberV'].invalid &&
      EditingUserInfo.controls['firstNameV'].invalid && EditingUserInfo.controls['addressV'].invalid && EditingUserInfo.controls['lastNameV'].invalid) || EditingUserInfo.invalid "
        [hidden]="editDisabled">Save</button>
    </div>
  </div>