<div id="side-nav">
    <div *ngIf="checkadmin()">
        <a  routerLink="admin/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        <a  routerLink="admin/orders" routerLinkActive="active"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Orders</a>
        <a  routerLink="admin/inventory" routerLinkActive="active"><i class="fa fa-cubes" aria-hidden="true"></i> Invnetory</a>
        <a  routerLink="admin/notifications" routerLinkActive="active"><i class="fa fa-cubes" aria-hidden="true"></i> Notifications</a>

        <hr>
        <a routerLink="admin/settings" routerLinkActive="active"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
    </div>
    
    
    <div *ngIf="checkuser()">
        <a  routerLink="user/history" routerLinkActive="active"><i class="fa fa-history" aria-hidden="true"></i> Purchase History</a>
        <a  routerLink="user/products" routerLinkActive="active"><i class="fa fa-cubes" aria-hidden="true"></i> Shop</a>
        <hr>
        <a  routerLink="user/settings" routerLinkActive="active"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>

    </div>
</div>
