<div class="custom-body" [hidden]="!formCondition">
  <ul class="nav nav-tabs custom-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="laptop-tab" data-toggle="tab" href="#laptop" role="tab" aria-controls="laptop"
        aria-selected="true">Laptop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="mobiles-tab" data-toggle="tab" href="#mobiles" role="tab" aria-controls="mobiles"
        aria-selected="false">Mobiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="accessories-tab" data-toggle="tab" href="#accessories" role="tab" aria-controls="accessories"
        aria-selected="false">Accessories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="gaming-tab" data-toggle="tab" href="#gaming" role="tab" aria-controls="gaming"
        aria-selected="false">Gaming</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="display-tab" data-toggle="tab" href="#display" role="tab" aria-controls="display"
        aria-selected="false">Display</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="speaker-tab" data-toggle="tab" href="#speaker" role="tab" aria-controls="speaker"
        aria-selected="false">Speaker</a>
    </li>



  </ul>
  <div class="row">
    <div class="col-6">
      <button class="btn link-custom" (click)="goToForm()">Add Item</button>
    </div>
    <div class="col-6">
      <div class="form-group2 search-bar">
        <form>
          <input class="form-control" type="text" name="search" placeHolder="Search" [(ngModel)]="MyFilter">
        </form>
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="laptop" role="tabpanel" aria-labelledby="laptop-tab">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th (click)="sort('id')">
                #
                <span *ngIf="key == 'id'" >
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </span>
              </th>
              <th (click)="sort('productName')">
                Product
                <span *ngIf="key == 'productName'" >
                  <span [hidden]="reverse">▼</span>
                  <span [hidden]="!reverse">▲</span>
                </span>
              </th>
              <th (click)="sort('amount')">
                Amount Left
                <span *ngIf="key == 'amount'" >
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </span>
              </th>
              <th (click)="sort('sellPrice')">
                Sell Price
                <span *ngIf="key == 'sellPrice'" >
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </span>
              </th>
              <th (click)="sort('buyPrice')">
                Bought Price
                <span *ngIf="key == 'buyPrice'" >
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'laptop', itemsPerPage: 4, currentPage: pLaptop }">
              <td>{{x.id}}</td>
              <td>{{x.productName}}</td>
              <td>{{x.amount}}</td>
              <td>{{x.sellPrice}}</td>
              <td>{{x.buyPrice}}</td>
              <td class="link-custom">Edit</td>
            </tr>
          </tbody>
        </table>
        <div class="pageControl">
          <pagination-controls id="laptop" (pageChange)="pLaptop = $event" autoHide="true" responsive="true"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="mobiles" role="tabpanel" aria-labelledby="mobiles-tab">
      <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                  <th (click)="sort('id')">
                    #
                    <span *ngIf="key == 'id'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productName')">
                    Product
                    <span *ngIf="key == 'productName'" >
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('amount')">
                    Amount Left
                    <span *ngIf="key == 'amount'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('sellPrice')">
                    Sell Price
                    <span *ngIf="key == 'sellPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('buyPrice')">
                    Bought Price
                    <span *ngIf="key == 'buyPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th></th>
                </tr>
              </thead>
          <tbody>
            <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'mobiles', itemsPerPage: 4, currentPage: pMobile } ">
              <td>{{x.id}}</td>
              <td>{{x.productName}}</td>
              <td>{{x.amount}}</td>
              <td>{{x.sellPrice}}</td>
              <td>{{x.buyPrice}}</td>
              <td class="link-custom">Edit</td>
            </tr>
          </tbody>
        </table>
        <div class="pageControl">
          <pagination-controls style="background: #A94442;" id="mobiles" (pageChange)="pMobile = $event" autoHide="true" responsive="true"></pagination-controls>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="accessories" role="tabpanel" aria-labelledby="accessories-tab">
      <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                  <th (click)="sort('id')">
                    #
                    <span *ngIf="key == 'id'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productName')">
                    Product
                    <span *ngIf="key == 'productName'" >
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('amount')">
                    Amount Left
                    <span *ngIf="key == 'amount'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('sellPrice')">
                    Sell Price
                    <span *ngIf="key == 'sellPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('buyPrice')">
                    Bought Price
                    <span *ngIf="key == 'buyPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th></th>
                </tr>
              </thead>
          <tbody>
            <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'accessories', itemsPerPage: 4, currentPage: pAccessory }">
              <td>{{x.id}}</td>
              <td>{{x.productName}}</td>
              <td>{{x.amount}}</td>
              <td>{{x.sellPrice}}</td>
              <td>{{x.buyPrice}}</td>
              <td class="link-custom">Edit</td>
            </tr> 
          </tbody>
        </table>
        <div class="pageControl">
          <pagination-controls id="accessories" (pageChange)="pAccessory = $event" autoHide="true" responsive="true"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="gaming" role="tabpanel" aria-labelledby="gaming-tab">
      <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                  <th (click)="sort('id')">
                    #
                    <span *ngIf="key == 'id'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productName')">
                    Product
                    <span *ngIf="key == 'productName'" >
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('amount')">
                    Amount Left
                    <span *ngIf="key == 'amount'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('sellPrice')">
                    Sell Price
                    <span *ngIf="key == 'sellPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('buyPrice')">
                    Bought Price
                    <span *ngIf="key == 'buyPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th></th>
                </tr>
              </thead>
          <tbody>
            <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: {id: 'gaming', itemsPerPage: 4, currentPage: pGaming }">
              <td>{{x.id}}</td>
              <td>{{x.productName}}</td>
              <td>{{x.amount}}</td>
              <td>{{x.sellPrice}}</td>
              <td>{{x.buyPrice}}</td>
              <td class="link-custom">Edit</td>
            </tr>
          </tbody>
        </table>
        <div class="pageControl">
          <pagination-controls id="gaming" (pageChange)="pGaming = $event" autoHide="true" responsive="true"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="display" role="tabpanel" aria-labelledby="display-tab">
      <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                  <th (click)="sort('id')">
                    #
                    <span *ngIf="key == 'id'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productName')">
                    Product
                    <span *ngIf="key == 'productName'" >
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('amount')">
                    Amount Left
                    <span *ngIf="key == 'amount'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('sellPrice')">
                    Sell Price
                    <span *ngIf="key == 'sellPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('buyPrice')">
                    Bought Price
                    <span *ngIf="key == 'buyPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th></th>
                </tr>
              </thead>
          <tbody>
            <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: { id: 'display', itemsPerPage: 4, currentPage: pDisplay }">
              <td>{{x.id}}</td>
              <td>{{x.productName}}</td>
              <td>{{x.amount}}</td>
              <td>{{x.sellPrice}}</td>
              <td>{{x.buyPrice}}</td>
              <td class="link-custom">Edit</td>
            </tr>
          </tbody>
        </table>
        <div class="pageControl">
          <pagination-controls id="display" (pageChange)="pDisplay = $event" autoHide="true" responsive="true"></pagination-controls>
        </div>  
      </div>
    </div>
    <div class="tab-pane fade" id="speaker" role="tabpanel" aria-labelledby="speaker-tab">
      <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                  <th (click)="sort('id')">
                    #
                    <span *ngIf="key == 'id'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('productName')">
                    Product
                    <span *ngIf="key == 'productName'" >
                      <span [hidden]="reverse">▼</span>
                      <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('amount')">
                    Amount Left
                    <span *ngIf="key == 'amount'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('sellPrice')">
                    Sell Price
                    <span *ngIf="key == 'sellPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th (click)="sort('buyPrice')">
                    Bought Price
                    <span *ngIf="key == 'buyPrice'" >
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </span>
                  </th>
                  <th></th>
                </tr>
              </thead>
          <tbody>
            <tr *ngFor="let x of data | filter:MyFilter | orderBy: key : reverse | paginate: { id: 'speaker', itemsPerPage: 4, currentPage: pSpeaker }">
              <td>{{x.id}}</td>
              <td>{{x.productName}}</td>
              <td>{{x.amount}}</td>
              <td>{{x.sellPrice}}</td>
              <td>{{x.buyPrice}}</td>
              <td class="link-custom">Edit</td>
            </tr>
          </tbody>
        </table>
        <div class="pageControl">
          <pagination-controls id="speaker" (pageChange)="pSpeaker = $event" autoHide="true" responsive="true"></pagination-controls>
        </div>
      </div>
    </div>


  </div>

</div>

<div class="custom-body itemEditor" [hidden]="formCondition">
  <form action="" class="form"  >
    <div>
      <div class="row">
        <div class="col-md-6">
          <label for="productName">Name: </label>
          <input type="text" name="Name" #Name id="Name" class="form-control" formControlName="productName" placeholder="Enter Product Name">
          <div class="incorrect" *ngIf="AddingItemForm.controls['productName'].invalid && (AddingItemForm.controls['productName'].dirty || AddingItemForm.controls['productName'].touched)">
            <div *ngIf="AddingItemForm.controls['productName'].errors.required">
              Product Name is required.
            </div>
            <div *ngIf="AddingItemForm.controls['productName'].errors.maxlength">
              Maximum Length is 50.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="brand">Brand Name: </label>
          <input type="text" name="brand" #brand id="brand" class="form-control" formControlName="brandName" placeholder="Enter Brand name">
          <div class="incorrect" *ngIf="AddingItemForm.controls['brandName'].invalid && (AddingItemForm.controls['brandName'].dirty || AddingItemForm.controls['brandName'].touched)">
            <div *ngIf="AddingItemForm.controls['brandName'].errors.required">
              Brand Name is required.
            </div>
            <div *ngIf="AddingItemForm.controls['brandName'].errors.maxlength">
              Maximum Length is 50.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="productName">Price: </label>
          <input type="number" name="price" #price id="price" class="form-control" formControlName="  " placeholder="Enter Price in Ruppees">
          <div class="incorrect" *ngIf="AddingItemForm.controls['price'].invalid && (AddingItemForm.controls['price'].dirty || AddingItemForm.controls['price'].touched)">
            <div *ngIf="AddingItemForm.controls['price'].errors.required">
              Price is required.
            </div>
            <div *ngIf="AddingItemForm.controls['price'].errors.pattern">
              Only Numbers are allowed
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="File">Select Image: </label>
          <input type="file" #image name="file" id="file" class="form-control" formControlName="file" (change)="fileNameChecker(image.value)"  placeholder="Choose Image File" #image>
          <div class="incorrect">{{validityStatement}} </div>
          <div class="incorrect" *ngIf="AddingItemForm.controls['file'].invalid && (AddingItemForm.controls['file'].dirty || AddingItemForm.controls['file'].touched)">
            <div *ngIf="AddingItemForm.controls['file'].errors.required">
              You must select a picture.
            </div>
            
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="infoArea">Add Info: </label>
        <textarea name="info" name="infoArea" #details id="infoArea" cols="30" rows="3" class="textArea" formControlName="details"
          placeholder="Write details about the product"></textarea>
        <div class="incorrect" *ngIf="AddingItemForm.controls['details'].invalid && (AddingItemForm.controls['details'].dirty || AddingItemForm.controls['details'].touched)">
          <div *ngIf="AddingItemForm.controls['details'].errors.required">
            Details about Item is required.
          </div>
          <div *ngIf="AddingItemForm.controls['details'].errors.minlength">
            Details should be more than 10 characters
          </div>
          <div *ngIf="AddingItemForm.controls['details'].errors.maxlength">
            Details should be less than 255 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <button class="btn link-custom" (click)="goToForm()">Back</button>
          </div>
          <div class="col-6">
            <button class="btn link-custom fright"  [disabled]="AddingItemForm.invalid" (click)="addItem(Name.value,brand.value,price.value,details.value,image.value)">Add item </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>