<div class="custom-body">
    <ul class="nav nav-tabs custom-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="laptop-tab" data-toggle="tab" href="#laptop" role="tab" aria-controls="laptop" aria-selected="true">Laptop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="mobiles-tab" data-toggle="tab" href="#mobiles" role="tab" aria-controls="mobiles" aria-selected="false">Mobiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="accessories-tab" data-toggle="tab" href="#accessories" role="tab" aria-controls="accessories" aria-selected="false">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="gaming-tab" data-toggle="tab" href="#gaming" role="tab" aria-controls="gaming" aria-selected="false">Gaming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="display-tab" data-toggle="tab" href="#display" role="tab" aria-controls="display" aria-selected="false">Display</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="speaker-tab" data-toggle="tab" href="#speaker" role="tab" aria-controls="speaker" aria-selected="false">Speaker</a>
        </li> 
        <li class="ml-auto nav-item">
          <div class="form-group">
              <form>
                <input class="form-control" type="text" placeHolder="Search">
              </form>
              <i class="fa fa-search"></i>
          </div>
          
        </li>   
       </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="laptop" role="tabpanel" aria-labelledby="laptop-tab">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product</th>
                  <th>Amount Left</th>
                  <th>Sell Price</th>
                  <th>Bought Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Dell PC</td>
                  <td>10</td>
                  <td>15000</td>
                  <td>13000</td>
                  <td class="link-custom">Edit</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Dell PC</td>
                  <td>10</td>
                  <td>15000</td>
                  <td>13000</td>
                  <td class="link-custom">Edit</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Dell PC</td>
                  <td>10</td>
                  <td>15000</td>
                  <td>13000</td>
                  <td class="link-custom">Edit</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="tab-pane fade" id="mobiles" role="tabpanel" aria-labelledby="mobiles-tab">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Product</th>
                <th>Amount Left</th>
                <th>Sell Price</th>
                <th>Bought Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
            </tbody>
          </table>
      </div>
            
      </div>
      <div class="tab-pane fade" id="accessories" role="tabpanel" aria-labelledby="accessories-tab">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Product</th>
                <th>Amount Left</th>
                <th>Sell Price</th>
                <th>Bought Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
      <div class="tab-pane fade" id="gaming" role="tabpanel" aria-labelledby="gaming-tab">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Product</th>
                <th>Amount Left</th>
                <th>Sell Price</th>
                <th>Bought Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
      <div class="tab-pane fade" id="display" role="tabpanel" aria-labelledby="display-tab">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Product</th>
                <th>Amount Left</th>
                <th>Sell Price</th>
                <th>Bought Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
      <div class="tab-pane fade" id="speaker" role="tabpanel" aria-labelledby="speaker-tab">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Product</th>
                <th>Amount Left</th>
                <th>Sell Price</th>
                <th>Bought Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dell PC</td>
                <td>10</td>
                <td>15000</td>
                <td>13000</td>
                <td class="link-custom">Edit</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        
    </div>
</div>


  