.right-align {
    text-align: right;
    display: inline-block;
}
table {
    .link-custom {
        border-radius: 0px;
    }
}

.form-group2 {
    border-bottom: 2px solid black;
    
    input {
        border:0;
        width: 230px
    }
    form {
        display: inline-block !important;
    }
    
}
.search-bar {
    width: 250px;
    margin-left:auto;
    
}

.itemEditor {
    
    textarea {
        display: block;    
    }
}

.form {

    min-width: 500px;
    padding:30px;
    font-weight: 500;
    input {
        padding: 5px;
        border: 0px;
        border-bottom: 2px solid black;
    }
    input[type=file] {
        border-bottom: none !important;
    }
    input::placeholder {
        font-style: italic;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    .ng-invalid:not(form)  {
        border-bottom: 2px solid #a94442; /* red */
      }

    .fa-check {
        color: #42A948 !important;
    }
    .textArea {
        max-height:400px;
        width: 100%;
    }
}