.right-align {
    text-align: right;
    display: inline-block;
}
table {
    .link-custom {
        border-radius: 0px;
    }
}

.form-group {
    border-bottom: 2px solid #343A40;
    
    input {
        border:0;
        width: 230px
    }
    form {
        display: inline-block !important;
    }
    
}
.search-bar {
    width: 250px;
    margin-left:auto;
    
}

.itemEditor {
    
    textarea {
        display: block;    
    }
}
