/* You can add global styles to this file, and also import other style files */

html,body,.wrapper {
    background-color: #eee;
}

a:hover {
    cursor:pointer;
}
.wrapper {
    margin-top: 56px;
    min-width:500px;
}

.account-wrapper {

    margin-left: 220px;
    padding: 50px;

}


.link-custom {
    padding:5px 30px;
    background-color: #343A40;
    color:white !important;
    border-radius:5px;
    min-width:120px !important;
    text-align:center;
}

.link-custom:hover {
    color: #343A40 !important;
    background-color:#bbb;
    transition-duration: 100ms;
    text-decoration: none !important;
    cursor: pointer;

}
.link-custom[disabled] {
    background-color: #343A40;
    color:white !important;
}
.link-custom:active {
    background-color:#777;
}
.link-custom:focus {
    box-shadow: none !important;
}
hr {
    border: 1px solid #343A40 !important;
}
input {
    border-radius: 0px !important;  
}
input:focus {
    box-shadow:none !important;
}

.incorrect {
    color: #a94442;
}

.title {
    text-align:center;
    margin-bottom: 30px;
    letter-spacing: 15px;
    font-weight: 300;
}

.custom-body {

    background-color: white;
    box-shadow: 0 0 25px rgba(155,155,155,0.5);
    padding: 30px;
    min-width:550px;

}

.custom-tabs {
    border-bottom: 0 !important;
    .nav-item {

        .nav-link {
            border:0;
            margin-bottom:20px;
            color: #343A40;
        }
        .active {
            border-bottom: 2px solid #343A40 !important;
            font-weight: 500;

        }
        .form-group {
            border-bottom: 2px solid #343A40;
            input {
                border:0;
            }
            form {
                display: inline-block !important;
            }
            
        }
       

    }

}

table {
    thead {
        
            border-top: 2px solid #343A40;
        th {
            border-bottom: 2px solid #343A40 !important;
        }        
    }
}