/* You can add global styles to this file, and also import other style files */

html,body,.wrapper {
    background-color: #eee;
}

a:hover {
    cursor:pointer;
}
.wrapper {
    margin-top: 56px;
    min-width:500px;
}

.account-wrapper {

    margin-left: 220px;
    padding: 50px;

}


.link-custom {
    padding:5px 30px;
    background-color: #343A40;
    color:white !important;
    border-radius:5px;
    width:120px !important;
    text-align:center;
}

.link-custom:hover {
    color: #343A40 !important;
    background-color:#bbb;
    transition-duration: 100ms;
    text-decoration: none !important;

}
.link-custom[disabled] {
    background-color: #343A40;
    color:white !important;
}
.link-custom:active {
    background-color:#777;
}

hr {
    border: 1px solid #343A40 !important;
}
input {
    border-radius: 0px !important;  
}
input:focus {
    box-shadow:none !important;
}
button:focus { 
    box-shadow: none !important;
}

.incorrect {
    color: #a94442;
}